.node_circle {
  stroke: #777;
  stroke-width: 1.0px;
}

.node_label {
  pointer-events: none;
}

.link {
  stroke: #000;
}

.node_count {
  stroke: #777;
  stroke-width: 1.0px;
  fill: #999;
}

div#theBar {
 	position: fixed;
	top: 200px;
	left: 20px; 
}

text.legend {
  font-family: Verdana;
  font-size: 13px;
  fill: #000;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
}

.axis text {
    font-family: "Arial, sans-serif";
    font-size: 11px;
}

#footnote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:20;
}

#options {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 12px;
/*  width: 300px;*/
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:10;
}

div.site_info {
	position: fixed;
	top: 20px;
	right: 20px;
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
	color: #222;
	border: solid 1px #aaa;
	border-radius: 4px;
	z-index:10;
    /*overflow-y: auto;*/
}

div.tag_info {
	position: fixed;
	top: 170px;
	right: 20px;
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:10;
  /*overflow-y: auto;*/
}

div.questions {
/*  position: absolute;*/
  top: 300px;
  width: 100%;
  /*height: 400px;*/
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

div.subtitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

div.subsubtitle {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

ul
{
  list-style-type: none;
  list-style:none;
  padding-left:0;
}

a:link { color:#33a; text-decoration: none; }
a:visited { color:#833; text-decoration: none; }
a:hover { color:#aaa; text-decoration: none; }
/*a:active { color:#aaa; text-decoration: underline; }*/

#askers {
  width: 45%;
  float:left;
}

#answerers {
  width: 45%;
  float: right;
}

.user_row
{
    width: 132px;
    height: 32px;
    display: table-row;
}

.userface
{
    width: 32px;
    height: 32px;
    display: table-cell;
}


.username_wrapper
{
    width: 100px;
    height: 32px;
    vertical-align: middle;
    display: table-cell;
}

.username
{
    width: 100px;
    height: 32px;
    /*vertical-align: middle;*/
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
