.node_circle {
  stroke: #777;
  stroke-width: 1.0px;
}

.fixed {
  stroke: #000;
  stroke-width: 2.0px;
}

.node_label {
  pointer-events: none;
}

.link {
  stroke: #000;
}

.node_count {
  stroke: #777;
  stroke-width: 1.0px;
  fill: #999;
}

div#theBar {
 	/*position: fixed;*/
 	margin-top: 0px;
	top: 250px;
	left: 20px; 
}

text.legend {
  font-family: Verdana;
  font-size: 13px;
  fill: #000;
}

.axis path, not overlap?
.axis line {
    fill: none;
    stroke: gray;
}

.axis text {
    font-family: "Arial, sans-serif";
    font-size: 11px;
}

body {
  font-size: 14px;
}

#footnote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:20;
}

#options {
  /*position: fixed; */
  top: 20px;
  left: 20px;
  padding: 12px;
  padding-top: 4px;
/*  width: 300px;*/
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:10;
}

#right_bar {
  position: fixed;
  top: 20px;
  right: 20px;  
}

#left_bar {
  position: fixed;
  top: 20px;
  left: 20px;  
}

div.site_info {
/*	position: fixed;
	top: 20px;
	right: 20px;*/
  padding: 12px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
	color: #222;
	border: solid 1px #aaa;
	border-radius: 4px;
	z-index:10;
    /*overflow-y: auto;*/
}

div.tag_info {
/*	position: fixed;
	top: 130px;
	right: 20px;*/
  margin-top: 20px;
  display: block;
  padding: 12px;
  padding-top: 4px;
  width: 300px;
  background: rgba(230, 230, 230, 0.85);
  color: #222;
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:10;
  overflow: hidden;
  /*overflow-y: auto;*/
}

#questions {
  width: 100%;
  margin-top: 10px;
  display: block;
}

div.question {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

div.subtitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

div.subsubtitle {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

ul
{
  list-style-type: none;
  list-style:none;
  padding-left:0;
}

a:link { color:#33a; text-decoration: none; }
a:visited { color:#833; text-decoration: none; }
a:hover { color:#aaa; text-decoration: none; }
/*a:active { color:#aaa; text-decoration: underline; }*/

#askers {
  padding-left: 10px;
  width: 130px;
  display: inline-block;
}

#answerers {
  padding-left: 10px;
  width: 130px;
  display: inline-block;
}

.user_row
{
    width: 132px;
    height: 32px;
    display: table-row;
}

.userface
{
    width: 32px;
    height: 32px;
    display: table-cell;
}


.username_wrapper
{
    width: 100px;
    height: 32px;
    vertical-align: middle;
    display: table-cell;
}

.username
{
    width: 100px;
    height: 32px;
    /*vertical-align: middle;*/
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

div.tooltip
{
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 50;
}

#loading_status
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 12px;
    width: 300px;
    background: #000;
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 50;
    opacity: 0.8;
}

#show_conditional_subgraph, #hide_tag_info, #hide_options {
  text-align: center;
  color: #33a;
  cursor: pointer;
}

#show_conditional_subgraph {
  display: none;
}

.aa {
  margin-top: 10px;
}

#site_selector, #colorParameter, #pageSize {
  width: 100%;
}

#central_tag {
  width: 60%;
  margin-right: 10px;
}

div.fb-like
{
    top:-3px;
}